{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="offset-3 col-6">
        <div class="jumbotron">
            <h1 class="display-4">Please Log in</h1>

            <hr class="my-4"/>

            <form action="{{ path('login') }}" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control" name="_username" value="{{ last_username }}" required/>
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" class="form-control" name="_password" required/>
                </div>

                <button class="btn btn-outline-success btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>

{% endblock %}