{% extends 'base.html.twig' %}

{% block title %}Message index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1>Messages</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">

            {% for message in messages %}

                <div class="row">
                    <div class="col">
                        <!-- ARTICLE HEADER -->
                        <div class="row">
                            <div class="col">
                                {{ message.createdAt ? message.createdAt|date('d/m/Y, H:i') : '' }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <span>{{ message.author.username }}</span>
                            </div>

                            <div class="col-10">
                                <p>{{ message.content }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <p>We don't have any messages yet.</p>
            {% endfor %}

        </div>
    </div>

    <a class="btn btn-outline-success" href="{{ path('message_new') }}">Create new</a>
{% endblock %}