{% extends 'base.html.twig' %}

{% block body %}
    <h3>Welcome to web2 project.</h3>
    <p>{{ title }}</p>
    <p>TODO : Description des services fournis aux utilisateurs connectés et non connectés.</p>
{% endblock %}